.footer_controls {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgb(26, 133, 175), rgba(224, 132, 66, 0.966));
	@include sizeScren(middleScrenSize) {
		height: 7vh;
	}
	.control_btn {
		margin-right: 15px;
		width: 40px;
		height: 40px;
		border-radius: 25%;
		border: 4px solid transparent;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			cursor: pointer;
		}
		&:active {
			transform: scale(1.1);
		}
		@include sizeScren(middleScrenSize) {
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}
	}
}

.volume_btn,
.fullscreen_btn {
	background-image: url("../source/icon/volumeNo.ico");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.fullscreen_btn {
	background-image: url("../source/icon/fullScreen.ico");
}

.volume_btn.none {
	background-image: url("../source/icon/volumeYes.ico");
}
