.wave {
	width: 100%;
	height: 15%;
	position: absolute;
	bottom: 0%;
	background: linear-gradient(45deg, rgb(0, 119, 255), rgb(0, 204, 255));

	&::before {
		content: "";
		display: block;
		width: 150%;
		height: 150%;
		position: absolute;
		top: 0;
		left: -25%;
		background: inherit;
		animation: spin 5s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: translateY(0%) rotate(0deg);
	}
	25% {
		transform: translateY(-4%) rotate(1deg);
	}
	50% {
		transform: translateY(-8%) rotate(0deg);
	}
	75% {
		transform: translateY(-4%) rotate(-1deg);
	}
	100% {
		transform: translateY(0%) rotate(0deg);
	}
}
